
@model WebApp.Areas.Admin.ViewModels.SongCreateEditViewModel

<div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Song.Name" class="control-label">@Resources.Domain.Common.Name</label>
    <input asp-for="Song.Name" class="form-control" />
    <span asp-validation-for="Song.Name" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Song.Author" class="control-label">@Resources.Domain.Common.Author</label>
    <input asp-for="Song.Author" class="form-control" />
    <span asp-validation-for="Song.Author" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Song.SpotifyLink" class="control-label">@Resources.Domain.Common.SpotifyLink</label>
    <input asp-for="Song.SpotifyLink" class="form-control" />
    <span asp-validation-for="Song.SpotifyLink" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Song.Description" class="control-label"></label>
    <textarea asp-for="Song.Description" class="form-control" placeholder="@Resources.Domain.Common.Description"></textarea>
    <span asp-validation-for="Song.Description" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Song.SongKeyId" class="control-label"></label>
    <select asp-for="Song.SongKeyId" class ="form-control" asp-items="Model.SongKeySelectList"></select>
</div>
