@model WebApp.Areas.Admin.ViewModels.ChordCreateEditViewModel
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Notes in chord already added
        </dt>
        <dd class="col-sm-10">
            <ul>
                @foreach (var note in Model.Notes)
                {
                    <li>@note.Name</li>
                }
            </ul>
        </dd>
    </dl>
</div>