@*@model WebApp.Areas.Admin.ViewModels.ChordCreateEditViewModel

<h4>Create Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Chords" asp-action="CreateNote">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Note.Name" class="control-label"></label>
                <input asp-for="Note.Name" class="form-control"/>
                <span asp-validation-for="Note.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Note" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>*@