@model WebApp.ViewModels.SongKeyCreateEditViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group">
    <label asp-for="SongKey.Description" class="control-label"></label>
    <input asp-for="SongKey.Description" class="form-control" />
    <span asp-validation-for="SongKey.Description" class="text-danger"></span>
</div>
@*<div class="form-group">
    <label asp-for="SongKey.NoteId" class="control-label"></label>
    <select asp-for="SongKey.NoteId" class="form-control" asp-items="Model.NoteSelectList"></select>
    <span asp-validation-for="SongKey.NoteId" class="text-danger"></span>
</div>*@
